.HoverStyle {
    & .hover-text:hover {
        color: ${({ theme }) => theme["yellowDark"]} !important;
        // filter: brightness(80%) !important;
        // invert(53%) sepia(88%) saturate(678%) hue-rotate(-15deg) brightness(97%) contrast(100%)") !important;

        &:hover svg path{
        fill: ${({ theme }) => theme["yellowDark"]} !important;
        }
    }

    & .hover-effect:hover {
    color: ${({ theme }) => theme["yellowDark"]} !important;
    border: 1px solid ${({ theme }) => theme["yellowDark"]} !important;

        &:hover img{
            filter: brightness(80%) saturate(350%) !important;
        }
    }
}
