.cardStyle {
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    padding: 10px 15px;
    box-shadow: 4px 4px 6px 2px rgba(0,0,0, 0.25);
    min-width: 280px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ol, ul {
    text-align: left;
}

ul.art-list {
    margin-left: -20px; 
    li {
        border: 1px solid #3a3a3a;
        border-radius: 4px;
        margin-block: 10px;
        padding-left: 4px;

        label {
            justify-content: flex-start;

            input[type='checkbox'] {
                width: 20px;
                height: 20px;
            }
        }
    }
}

button:disabled,
button[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

.main_heading {
    background: #1f1f1f;
    margin-top: 0;
    padding-bottom: 10px;
    border: 1px solid #2c2c2c;
    border-radius: 8px 8px 0 0;
}

.paragraph {
    border: 1px solid #2c2c2c;
    padding: 10px;
    border-radius: 8px;
    text-align: left;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
}
.wrapper-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #202020;
    padding: 20px;
}

textarea {
    width: 225px;
    height: 88px;
}

button {
    min-width: 80px;
}